.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.del
{
  padding: 5px 10px;
  color: #fff;
  background-color: rgb(33, 50, 22);
}
.edit
{
  padding: 5px 10px;
  color: #fff;
  background-color: rgb(33, 50, 22);
}

.primary-button{
  background-color: darkblue;
  border: none;
  padding: 10px;
  margin-top: 5px;
  color: white;
}

.button{
  justify-content: center;
  background-color: rgb(2, 16, 63);
  border-radius: 5px;
  border: none;
  color: rgb(206, 203, 203);
  width: 86.5vw;
  padding: 20px;
  margin: 10px;
}

.mainone{
  /* margin: 30px; */
  text-align: justify;
  justify-content: center;
}

.borderwalisarkar{
  /* border-radius: 20px; */
  box-shadow: 10px 10px 70px 5px  black;
  opacity: 0.8;
  /* margin: 30px; */
}

header{
  margin: 30px;
}
